{% if enums %}
<section id="enums">
    <h1>Enums</h1>

    {% for enum in enums | sort(attribute="0") %}

    {% set fields = enum[1].fields | concat_vec(format="{value} {name}", sep=",
    ", begin="
    ", end="
") %}
    <section id="enum-{{ enum[0] }}">
        <h2>Union <pre class="inline">{{ enum[0] }}</pre></h2>
        {% if enum[2] %}<p class="filedef">Défini dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ enum[2] }}</code></p>{% endif %}

        <p>{{ enum[1].description | safe }}</p>

        <pre><code>{{ "enum " ~ enum[0] ~ " {" ~ fields ~ "};" | highlight(language="c") }}</code></pre>

        <section>
            <h3>Champs</h3>

            <table class="args">
                <tr>
                    <th>Nom</th>
                    <th>Valeur</th>
                    <th>Description</th>
                </tr>
                {% for info in enum[1].fields %}
                <tr>
                    <td><pre>{{ info.name | highlight(language="c") }}</pre></td>
                    <td><pre>{{ info.value | highlight(language="c") }}</pre></td>
                    <td>{{ info.description | safe }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </section>
    {% endfor %}
</section>
{% endif %}