<section id="functions">
    <h1>Fonctions</h1>

    {% for name, info in functions %}
    
    {% set args = info.arguments | concat_vec(format="{type} {name}", sep=",
    ", begin="
    ", end="
") %}
    {% if info.return %}
        {% set code = info.return.type %}
    {% else %}
        {% set code = "void" %}
    {% endif %}
    {% set code = code ~ " " ~ name ~ "(" %}
    {% set code = code ~ args %}
    {% set code = code ~ ")" %}

    <section id="functions-{{name}}" {% if info.private %}class="private"{% endif %}>
        <h2>Fonction <pre class="inline">{{ name }}</pre></h2>

        {% if info.filedef and info.filedef != info.implementation.file %}
        <p class="filedef">Défini dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ info.filedef }}</code> et implémenté dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ info.implementation.file }}</code> à la ligne <code>{{ info.implementation.lines.begin }}</code></p>
        {% else %}
        <p class="filedef">Implémenté dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ info.implementation.file }}</code> à la ligne <code>{{ info.implementation.lines.begin }}</code></p>
        {% endif %}

        <pre><code>{{ code | highlight(language="c") }}</code></pre>

        <p>{{ info.description | safe }}</p>

        {% if info.arguments %}
        <section>
            <h3>Arguments</h3>

            <table class="args">
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                {% for arg in info.arguments %}
                <tr>
                    <td><code>{{ arg.name | highlight(language="c") }}</code></td>
                    <td><code>{{ arg.type | highlight(language="c") }}</code></td>
                    <td>{{ arg.description | safe }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endif %}

        {% if info.return %}
        <section>
            <h3>Valeur de retour</h3>

            Type: <code>{{ info.return.type | highlight(language="c") }}</code>

            <p>{{ info.return.description | safe }}</p>
        </section>
        {% endif %}
    </section>
    {% endfor %}
</section>