{% if structs %}
<section id="structs">
    <h1>Structures</h1>

    {% for struct in structs | sort(attribute="0") %}

    {% set fields = struct[1].fields | concat_vec(format="{type} {name}", sep=",
    ", begin="
    ", end="
") %}
    <section id="struct-{{ struct[0] }}">
        <h2>Structure <pre class="inline">{{ struct[0] }}</pre></h2>
        {% if struct[2] %}<p class="filedef">Défini dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ struct[2] }}</code></p>{% endif %}

        <p>{{ struct[1].description | safe }}</p>

        <pre><code>{{ "struct " ~ struct[0] ~ " {" ~ fields ~ "};" | highlight(language="c") }}</code></pre>

        <section>
            <h3>Champs</h3>

            <table class="args">
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                {% for info in struct[1].fields %}
                <tr>
                    <td><code>{{ info.name | highlight(language="c") }}</code></td>
                    <td><code>{{ info.type | highlight(language="c") }}</code></td>
                    <td>{{ info.description | safe }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </section>
    {% endfor %}
</section>
{% endif %}