{% if symbols %}
<section id="symbols">
    <h1>Définitions</h1>

    {% for symbol in symbols | sort(attribute="0") %}
    <section id="symbol-{{ symbol[0] }}">
        <h2>Définition <pre class="inline">{{ symbol[0] }}</pre></h2>
        {% if symbol[2] %}<p class="filedef">Défini dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ symbol[2] }}</code></p>{% endif %}

        <p>{{ symbol[1].description | safe }}</p>

        <pre><code>{{ "#define " ~ symbol[0] ~ symbol[1].value | highlight(language="c") }}</code></pre>
    </section>
    {% endfor %}
</section>
{% endif %}