{% if types %}
<section id="types">
    <h1>Alias de type</h1>

    {% for type in types | sort(attribute="0") %}
    <section id="type-{{ type[0] }}">
        <h2>Type <pre class="inline">{{ type[0] }}</pre></h2>
        {% if type[2] %}<p class="filedef">Défini dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ type[2] }}</code></p>{% endif %}

        <p>{{ type[1].description | safe }}</p>

        <pre><code>{{ "typedef " ~ type[1].type ~ type[0] | highlight(language="c") }}</code></pre>
    </section>
    {% endfor %}
</section>
{% endif %}