{% if unions %}
<section id="unions">
    <h1>Unions</h1>

    {% for union in unions | sort(attribute="0") %}

    {% set fields = union[1].fields | concat_vec(format="{type} {name}", sep=",
    ", begin="
    ", end="
") %}
    <section id="union-{{ union[0] }}">
        <h2>Union <pre class="inline">{{ union[0] }}</pre></h2>
        {% if union[2] %}<p class="filedef">Défini dans <code>{% if filedir %}{{ filedir }}/{% endif %}{{ union[2] }}</code></p>{% endif %}

        <p>{{ union[1].description | safe }}</p>

        <pre><code>{{ "union " ~ union[0] ~ " {" ~ fields ~ "};" | highlight(language="c") }}</code></pre>

        <section>
            <h3>Champs</h3>

            <table class="args">
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                {% for info in union[1].fields %}
                <tr>
                    <td><code>{{ info.name | highlight(language="c") }}</code></td>
                    <td><code>{{ info.type | highlight(language="c") }}</code></td>
                    <td>{{ info.description | safe }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </section>
    {% endfor %}
</section>
{% endif %}