@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}
html {
    font-family: 'Open Sans';
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/SourceCodePro-Italic.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/SourceCodePro-Light.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/SourceCodePro-LightItalic.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/SourceCodePro-SemiBold.ttf);
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: url(../fonts/SourceCodePro-SemiBoldItalic.ttf);
}

pre, code {
    font-family: 'Source Code Pro';
}