:root {
    --color-primary: #00579D;
}

html {
    height: 100%;
    counter-reset: h1 0;

    font-size: 10pt;
}

body {
    margin: auto;

    max-width: 21cm;
    line-height: 1.4;

    text-align: justify;
}

@page {
    size: A4;
    margin: 2.5cm 2cm;
    counter-increment: page 1;

    @top-left {
        content: string(title-counter);

        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 20pt;
        text-align: center;

        background-color: var(--color-primary);
        color: white;

        line-height: 1.5cm;
        width: 1.5cm;
        
        vertical-align: bottom;

        margin-bottom: 5mm;
    }

    @top-center {
        content: string(heading);

        font-family: 'Open Sans';
        font-size: 20pt;
        text-align: left;

        width: 100%;
        padding-left: 2cm;

        color: var(--color-primary);
        
        line-height: 1.5cm;
        height: 1.5cm;

        box-sizing: border-box;

        margin-bottom: 5mm;
    }
}

@page:left {
    @bottom-left {
        content: counter(page);

        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 2rem;
        text-align: center;
        vertical-align: top;

        background-color: #00579D;
        color: white;

        line-height: 1.5cm;
        width: 1.5cm;
        margin-top: 5mm;
    }
}

@page:right {
    @bottom-right {
        content: counter(page);

        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 20pt;
        text-align: center;
        vertical-align: top;

        background-color: #00579D;
        color: white;

        line-height: 1.5cm;
        width: 1.5cm;
        margin-top: 5mm;
    }
}

@page:blank {
    @top-left { content: none; }
    @top-center { content: none; }
    @bottom-left { content: none; }
    @bottom-right { content: none; }
}

@page:first {
    margin: 0;

    counter-reset: page -1;

    @top-left { content: none; }
    @top-center { content: none; }
    @bottom-left { content: none; }
    @bottom-right { content: none; }
}

@media print {
    body {
        padding: 0;
        border: none;
    }

    h1 {
        height: 0 !important;
        overflow: hidden !important;
        margin: 0 !important;
        font-size: 0 !important;
    }

    #cover {
        height: 297mm;
    }

    #cover #title {
        color: var(--color-primary);
    }
}

a {
    color: black;
    text-decoration: none;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    counter-increment: h1 1;

    font-size: 2rem;

    color: var(--color-primary);

    display: flex;
    align-items: center;

    position: relative;

    margin: 5mm 0;

    string-set: heading content(), title-counter counter(h1);
}

h1::before {
    content: counter(h1);

    display: block;

    background-color: var(--color-primary);
    color: white;

    width: 1.5cm;
    height: 1.5cm;

    font-weight: 100;
    line-height: 1.5cm;
    text-align: center;
    
    margin-right: 2mm;
}

h1.private {
    content: 'Fonction privée';

    float: right;


}

h2 {
    font-size: 1.8rem;
    font-weight: 400;

    line-height: 1cm;
    margin-bottom: 2mm;
}

h3 {
    font-size: 1.5rem;

    font-weight: 400;
}

section {
    break-inside: avoid;
}

body > section {
    break-after: always;
}

p {
    margin: 0;
}

pre.inline {
    display: inline;
}

#cover {
    padding: 1cm;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cover #title {
    font-size: 35pt;

    text-align: center;

    line-height: 4cm;
}

#cover #authors {
    margin: 0;
    padding: 0;

    font-size: 12pt;

    text-align: center;

    line-height: 7mm;
}

#cover #authors li {
    list-style: none;
}

#table-of-content ol {
    margin: 0 0 0 1cm;
    padding: 0;
}

#table-of-content ol li {
    margin: 0;
    padding: 0;

    line-height: 7mm;
}

#table-of-content ol li ol {
    break-inside: avoid;
}

#table-of-content a::after {
    content: leader('.') target-counter(attr(href), page, decimal);
}

#functions section.private h2 {
    position: relative;
}

#functions section.private h2::before {
    content: 'Private';
    font-size: 0;

    display: block;
    height: 1cm;
    width: 1cm;

    position: absolute;
    left: -1.2cm;

    background-color: rebeccapurple;
}

#description table {
    border-collapse: collapse;
}

#description table td {
    vertical-align: top;
}

#description table td.name,
td code {
    white-space: nowrap;
}

table.args th {
    text-transform: uppercase;
    font-weight: 500 !important;
}

table.args td {
    vertical-align: top;
}

table.args th,
table.args td {
    padding: 0 1ch;
}

table.args th:first-of-type,
table.args td:first-of-type {
    padding-left: 0;
}

table.args th:last-of-type,
table.args td:last-of-type {
    padding-right: 0;
}

#description table td.sep {
    padding: 0 1ch;
}

p.filedef {
    margin-top: -2mm;
}