<section id="cover">
    <div id="title" role="heading">{{name}}</div>
    <ul id="authors">
        {% for author in authors %}
            <li>{{ author }}</li>
        {% endfor %}
    </ul>
</section>