<section id="description">
    <h1>Présentation du projet</h1>

    {{description | safe}}

    <section>
        <h2>Structure</h2>

        Le projet est séparé en différents fichiers qui sont:
        <table>
            {% if use_makefile %}
            <tr>
                <td class="name" colspan="2">MakeFile</td>
                <td class="sep">–</td>
                <td class="desc">Constructeur du projet</td>
            </tr>
            {% endif %}
            {% for name, info in files %}
            <tr>
                {% if filedir %}
                <td>
                    {% if filedir and loop.index0 == 0 %}
                    <code>{{ filedir }}/</code>
                    {% endif %}
                </td>
                {% endif %}
                <td class="name"><code>{{ name }}</code></td>
                <td class="sep">–</td>
                <td class="desc">{{ info.description | safe }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</section>