<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8">
        <title>{{name}}</title>

        <link rel="stylesheet" type="text/css" href="css/fonts.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/highlight.css">
    </head>
    <body>
        {% include "cover.html" %}
        {% include "description.html" %}
        {% include "toc.html" %}
        {% include "data/functions.html" %}
        {% include "data/structs.html" %}
        {% include "data/enums.html" %}
        {% include "data/unions.html" %}
        {% include "data/types.html" %}
        {% include "data/symbols.html" %}

        {# <pre><code>{{ __tera_context | highlight(language='json') }}</code></pre> #}
    </body>
</html>