<section id="table-of-content">
    <h1>Sommaire</h1>
    <ol>
        <li><a href="#description">Présentation du projet</a></li>
        <li><a href="#table-of-content">Sommaire</a></li>
        <li><a href="#functions">Fonctions</a>
            <ol>
                {% for name, _ in functions %}
                <li><a href="#functions-{{ name }}">{{ name }}</a></li>
                {% endfor %}
            </ol>
        </li>
        {% if structs %}
            <li><a href="#structs">Structures</a>
                <ol>
                    {% for struct in structs | sort(attribute="0") %}
                    <li><a href="#struct-{{ struct[0] }}">{{ struct[0] }}</a></li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
        {% if enums %}
            <li><a href="#enums">Énumérations</a>
                <ol>
                    {% for enum in enums | sort(attribute="0") %}
                    <li><a href="#enum-{{ enum[0] }}">{{ enum[0] }}</a></li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
        {% if unions %}
            <li><a href="#unions">Unions</a>
                <ol>
                    {% for union in unions | sort(attribute="0") %}
                    <li><a href="#union-{{ union[0] }}">{{ union[0] }}</a></li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
        {% if types %}
            <li><a href="#types">Types</a>
                <ol>
                    {% for type in types | sort(attribute="0") %}
                    <li><a href="#type-{{ type[0] }}">{{ type[0] }}</a></li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
        {% if symbols %}
            <li><a href="#symbols">Définitions</a>
                <ol>
                    {% for symbol in symbols | sort(attribute="0") %}
                    <li><a href="#symbol-{{ symbol[0] }}">{{ symbol[0] }}</a></li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
    </ol>
</section>